@{
    ViewBag.Title = "About me";
}

<h2 style="color:purple">@ViewBag.Title.</h2>
<p style="font-size:17px">@ViewBag.Message</p>

<h2>Links:</h2>
<div>
    <ul>
        <li><a href="https://www.linkedin.com/in/fatima-afzaal-2169b7230/"><i style="font-size:15px"></i>  Linked-in</a> </li>
        <li><a href="https://web.facebook.com/fatimaAfzaal29/"><i style="font-size:15px"></i>Facebook</a></li>
        <li><a href="https://twitter.com/FatimaA60003783"><i style="font-size:15px"></i>Twitter</a></li>
        <li><a href="https://github.com/fatimaAfzaal"><i style="font-size:15px"></i>Github</a></li>
        <li><a href="https://leetcode.com/fatimaafzaal2002/"><i style="font-size:15px"></i>Leetcode</a></li>
        <li><a href="https://developers.google.com/profile/u/fatimaAfzaal"><i style="font-size:15px"></i>Google Developer Profile</a></li>
        
    </ul>

</div>
