@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:fatimaafzaal2002@gmail.com">Fatima Afzaal</a>.<br>
    <strong>Phone:</strong>   <a href="tel:+923105425910">call</a>.<br>
    <strong>Linked-in:</strong>   <a href="https://www.linkedin.com/in/fatima-afzaal-2169b7230/">FatimaAfzaal</a>.<br>
</address>
